* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-layout {
  background-image: url("../public/chapa_perforada.png");
  background-size: 2.1rem;
}

.main-body {
  width: 100%;
  height: 100vh;
  /* background-image: url("../public/chapa_perforada.png");
  background-size: 6rem; */
}

.div-idioma {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.navbar {
  display: flex;
  align-items: end;
}

.boton-idioma {
  align-items: end;
  text-align: end;
}

.div-portada {
  width: 100%;
  height: 100vh;
}

.bg-img {
  margin-left: 0.4rem;
  width: 15rem;
  height: 15rem;
}

.titulo {
  margin-left: 0.3rem;
  font-size: 23px;
  font-weight: 300;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

i {
  color: black;
}

@media screen and (min-width) {
}
